name: GKE-CI

on:
  schedule:
    - cron:  '0 5 * * *'
  workflow_dispatch:

env:
  SETUP_GO_VERSION: '^1.13.7'
  GINKGO_NODES: 1
  FLAKE_ATTEMPTS: 1
  GKE_ZONE: europe-west1
  GKE_VERSION: 1.21.4-gke.2300

jobs:
  acceptance-scenario2:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get All Git Tags
        run: git fetch --force --prune --unshallow --tags

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.SETUP_GO_VERSION }}
      - name: Setup Ginkgo Test Framework
        run: go install github.com/onsi/ginkgo/ginkgo@v1.16.2

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.EPCI_GKE_SA_KEY }}
          project_id: ${{ secrets.EPCI_GKE_PROJECT }}

      - name: Create GKE cluster
        id: create_cluster
        shell: bash
        run: |
          id=$RANDOM
          echo '::set-output name=ID::'$id
          #          gcloud container clusters create epinioci$id \
          #--cluster-version ${{ env.GKE_VERSION }} \
          #--disk-size 100 \
          #--num-nodes=1 \
          #--machine-type n1-standard-2 \
          #--no-enable-cloud-logging \
          #--no-enable-cloud-monitoring  \
          #--zone europe-west1

          #      - name: Get Kubernetes info
          #shell: bash
          #run: |
          #kubectl get nodes
          #kubectl get pods -A

      - name: Delete GKE cluster
        run: |
          id="${{ steps.create-cluster.outputs.ID }}"
          echo $id
          #gcloud container clusters delete epinioci$id --zone ${{ env.GKE_ZONE }} --quiet
