name: sample-action

on:
  workflow_dispatch:
    inputs:
      keep_cluster:
        description: "Keep the cluster afterwards? (empty/yes)"
        required: false
        default: ""

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get the last tag
        id: last-tag
        run: |
          git tag | tail -1
          tag=$(git tag | tail -1)
          echo '::set-output name=TAG::'$tag
          echo $tag
      - name: Print the tag
        run: |
          echo ${{ steps.last-tag.outputs.TAG }}
          toto="${{ steps.last-tag.outputs.TAG }}"
          echo ${{ github.event.client_payload.ref }}
          echo $toto
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: juadk/epinio-helm-chart
          event-type: epinio-release
          client-payload: '{"ref": "${{ steps.last-tag.outputs.TAG }}", "sha": "${{ github.sha }}"}'
